[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

# グローバルバッファ InnoDB編
innodb_additional_mem_pool_size = 10M
innodb_buffer_pool_size = 2G
innodb_log_file_size = 16M
innodb_log_buffer_size = 32MB
 
# グローバルバッファ MyISAM編
key_buffer_size = 128M
 
# スレッドバッファ
join_buffer_size = 128K
max_allowed_packet = 4M
read_buffer_size = 128K
read_rnd_buffer_size = 1M
sort_buffer_size = 2M
 
# クエリキャッシュ
query_cache_limit = 8M
query_cache_size = 256M #グローバルバッファ
query_cache_type = 1
 
# その他
max_connections = 300
thread_cache_size = 100 # max_connections / 3
max_heap_table_size = 8M
tmp_table_size = 8M #スレッドバッファ
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
# !includedir /etc/my.cnf.d

