<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Isuwitter</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="header">
      <a class="title" href="/">Isuwitter</a>
      <% if @name %>
      <form class="logout" action="/logout" method="post">
        <button type="submit">ログアウト</button>
      </form>
      <span class="name">こんにちは <%= @name %>さん</span>
      <% else %>
      <span class="name">こんにちは ゲストさん</span>
      <% end %>
      <form class="search" action="/search" method="get">
        <input type="text" name="q" placeholder="search">
      </form>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>

